.brandContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:0;
  font-size: 24px;
  font-weight: 800;
  margin:20px;
  font-family:Arial, Helvetica, sans-serif;
  cursor:pointer;
}

.brandLogoIcon {
  margin-right: 5px;
  width:35px;
  height:35px;
}

@media screen and (max-width: 400px) {
  .brandContainer {
    font-size: 18px;
    margin:10px 0;
  }
  .brandLogoIcon {
    height:28px;
    width: 28px;
  }
}
