.CategoryIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  width: 90px;
  height: auto;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
}

.CategoryIconContainer.small {
  width: 60px;
  margin: 10px;
}

.CategoryIconContainer > p {
  margin: 10px;
  max-width: 100px;
  text-align: center;
}

.CategoryIconContainer.small > p {
  margin:5px;
  max-width: 70px;
  font-size:14px;
}

.iconImg {
  object-fit: contain;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.CategoryIconContainer.small .iconImg {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .iconImg {
    width: 60px;
    height: 60px;
  }
  .CategoryIconContainer {
    margin: 10px;
    width: 65px;
  }
}

@media screen and (max-width: 800px) {
  .iconImg {
    width: 55px;
    height: 55px;
  }
  .CategoryIconContainer {
    margin: 8px;
    width: 60px;
    font-size: 12px;
  }
}
