.CategoryPageContainer {
  width: 100%;
  min-height: auto;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.innerContainer {
  display: flex;
  transition: transform 0.6s ease;
}

.ProductArea {
  min-height: 100%;
  min-width: 100%;
  font-size: 24px;
}

.productInner {
  padding: 20px 30px;
}

.SlicerArea {
  height: 100%;
  width: 280px;
  padding: 10px 20px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.OrderArea {
  height: 100%;
  width: 280px;
  padding: 10px 20px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.productInner > h1 {
  font-size: 1.5em;
  font-weight: 800;
  margin: 0;
}

.slicerItem {
  margin-bottom: 5px;
}

.MobileTopBar {
  display: none;
  background-color: white;
  width: 100%;
  position: relative;
  transition: all 0.6s ease;
  z-index: 100;
}

.ShowFiltersButton,
.ShowOrdersButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  background: linear-gradient(180deg, #ffffff 51.56%, #eaeaea 100%);
  font-size: 0.8em;
  color: #939393;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.ShowOrdersButton {
  border-right: none;
}

.topBarIcon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}


.screenOverlay {
  display: none;
  position: absolute;
  width:200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.screenOverlay.show {
  display: block;
}

@media screen and (max-width: 1200px) {
  .SlicerArea,
  .OrderArea {
    padding: 0;
    width: 240px;
  }

  .innerContainer {
    transform: translateX(-240px);
  }

  .innerContainer.showFilters {
    transform: translateX(0);
  }

  .innerContainer.showOrders {
    transform: translateX(-480px);
  }

  .MobileTopBar {
    display: flex;
  }

  .MobileTopBar.showFilter {
    width: calc(100% - 240px);
  }

  .MobileTopBar.showOrder {
    width: calc(100% - 240px);
    transform: translateX(240px);
  }
}
