.CategoryPageContainer {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom:100px;
}

.SlicerArea {
  height: 100%;
  min-width: 15%;
  padding:10px 20px;
  flex-shrink: 0;
}

.ProductArea {
  min-height: 100%;
  width: 85%;
  font-size: 24px;
  padding: 20px 30px;
}

.ProductArea > h1 {
  font-size: 1.5em;
  font-weight: 800;
  margin: 0;
}

.slicerItem {
  margin-bottom:5px;
}