.ExploreCategoriesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ExploreCategoriesContainer > h1 {
  font-size: 24px;
  color: #ff7440;
}

.iconList {
  display: flex;
  max-width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exploreSkeleton {
  margin: 20px;
  width: 90px;
  height: 90px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  animation: loading-animation 1s linear infinite alternate;
}

.noDraw {
  display: none !important;
}

@keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}

.iconList {
  animation-duration: 0.01s;
  animation-name: nodeInserted;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(195, 5%, 85%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media screen and (max-width: 2100px) {
  .iconList {
    max-width: 65%;
  }
}

@media screen and (max-width: 1000px) {
  .iconList {
    max-width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .iconList {
    max-width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .iconList {
    max-width: 90%;
  }
}
