.FooterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #dfdfdf;
}

.FooterContainer > p {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.InnerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 2% 5%;
}

.WrappingContent {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 500px;
  flex-flow: column wrap;
  overflow: hidden;
}

.MediaAndContactContainer {
  width: 30%;
  height: 100%;
  display: flex;
}

.WrappingContent > b {
  font-size: 18px;
  margin: 25px 0 5px 0;
}

.footerLink {
  margin-bottom: 10px;
  margin-right: 30px;
}

.WrappingContent > b:nth-of-type(1) {
  margin-top: 0;
}

.MediaContainer,
.ContactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.MediaContainer > *,
.ContactContainer > * {
  margin: 0 0 10px 0;
}

.ContactContainer > h3 {
  font-size: 1.5em;
  color: #434343;
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 1500px) {
  .WrappingContent {
    max-height: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .FooterContainer {
    padding-bottom: 100px;
  }
  .MediaAndContactContainer {
    flex-direction: column-reverse;
  }
  .MediaContainer,
  .ContactContainer {
    flex-grow: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .WrappingContent {
    max-height: 1050px;
  }
  .FooterContainer {
    font-size: 12px;
  }
  .footerLink {
    margin-right: 10px;
  }
}

@media screen and (max-width: 380px) {
  .InnerContainer {
    flex-direction: column;
    padding-left: 10%;
  }
  .WrappingContent {
    width: 100%;
    max-height: 2000px;
  }
  .MediaAndContactContainer {
    width: 100%;
  }
  .InnerContainer {
    padding-top: 25px;
  }
}
