.HorizontalContainer {
  width: 100%;
  margin-top: 25px;
  flex-shrink: 0;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.scrollArea {
  width: 95%;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  flex-shrink: 0;
  scroll-behavior: smooth;
  border-radius: 5px;
}

.scrollArea::-webkit-scrollbar {
  display: none;
}

.scrollArea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.leftArrow {
  position: absolute;
  left: 1.25%;
  top: 40%;
  border: 1px solid lightgray;
}

.rightArrow {
  position: absolute;
  left: auto;
  right: 1.25%;
  top: 40%;
  border: 1px solid lightgray;
}