.MobileMenuContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 10%;
  width: 100%;
  background-color: #f3f3f3;
  display: none;
  position: fixed;
  z-index:100;
  bottom: 0;
}

.MobileMenuButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.MobileMenuIcons {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  fill: #747474;
}

.MobileMenuButton > p {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .MobileMenuContainer {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .MobileMenuContainer {
    padding: 15px;
  }
  .MobileMenuButton {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .MobileMenuButton {
    font-size: calc(8px + 1vw);
  }
}

@media screen and (max-width: 200px) {
  .MobileMenuButton {
    font-size: 0px;
  }
}

