.MobileMenuContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 10%;
  width: 100%;
  background-color: #f3f3f3;
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 0;
}

.MobileMenuButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
}

.navActive {
  color: #ff7440;
  font-weight: 800;
}
.navActive .MobileMenuIcons > g,
.navActive .MobileMenuIcons > path {
  fill: #ff7440;
}

.MobileMenuIcons {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  fill: #747474;
}

.MobileMenuButton > p {
  margin: 0;
}

.badge {
  color: white;
  position: absolute;
  top: -10%;
  right: 10%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  visibility: hidden;
}

.badgeVisible {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .MobileMenuContainer {
    display: flex;
  }
}

@media screen and (max-width: 400px) {
  .MobileMenuContainer {
    padding: 15px;
  }
  .MobileMenuButton {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .MobileMenuButton {
    font-size: calc(8px + 1vw);
  }
}

@media screen and (max-width: 200px) {
  .MobileMenuButton {
    font-size: 0px;
  }
}
