.NavbarContainer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  color: #2f2f2f;
  border-bottom: 1px solid #a0a0a0;
  overflow: hidden;
}

.NavbarSkeleton {
  width: 100%;
  height: 185px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  animation: loading-animation 1s linear infinite alternate;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(0, 0%, 100%);
  }
  100% {
    background-color: hsl(200, 6%, 80%);
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 25px;
  height: 25px;
  animation: spin-animation 2s linear infinite;
  fill: rgb(112, 112, 112);
  width: 18px;
  height: 18px;
  margin: 10px;
}

.NavbarButtonsContainer {
  display: flex;
  color: #2f2f2f;
  font-size: 16px;
  margin: 20px;
}

.NavbarButtonsContainerMobile {
  display: flex;
  color: #2f2f2f;
  font-size: 16px;
  display: none;
}

.AccountButton,
.CartButton {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.BrandAreaMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavbarCategories {
  display: flex;
  border-bottom: 1px solid #b4b4b4;
  width: 100%;
  background-color: white;
  height: auto;
  justify-content: center;
}

.NavbarCategoryItems {
  display: flex;
  justify-content: flex-start;
}

.NavbarCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}

.NavbarCategory > span {
  cursor: pointer;
}

.navbarButtonIcons {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  fill: #2f2f2f;
}

.CartButton.cartActive {
  color: #ff7440;
}

.navbarButtonIcons.cartActive {
  fill: #ff7440;
}

.NavbarDropdownContainer {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: 1px solid #8b8b8b;
  top: 40px;
  left: 0;
  z-index: 20;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 10px 15px;
}

.NavbarDropdownContainer > p {
  margin: 0 0 10px 0;
  cursor: pointer;
  font-weight: 400;
}

.NavbarCategory.isActive {
  border-bottom: 3px solid #ff7440;
  font-weight: 700;
}

.screenOverlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

.mobileMenuContainer {
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: fixed;
  z-index: 120;
  background-color: white;
  font-size: 20px;
}

.mobileMenuVisible {
  display: flex;
}

.mobileMenuButton {
  padding: 0 40px;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer;
  font-weight: 400;
  color: #2f2f2f;
  background: linear-gradient(180deg, #ffffff 51.56%, #eaeaea 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.85em;
}

.mobileMenuButton > p {
  margin: 0;
}

.mobileMenuTitle {
  font-size: 1em;
  font-weight: 800;
  color: #ff7440;
  justify-content: space-between;
}

.mobileMenuCloseBtn {
  width: 35px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .NavbarCategory {
    display: none;
  }

  .NavbarContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .NavbarButtonsContainer {
    display: none;
  }

  .NavbarButtonsContainerMobile {
    display: flex;
  }

  .BrandAreaMobile {
    width: 100%;
  }

  .NavbarContainer {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 400px) {
  .NavbarContainer {
    padding: 15px 10px;
  }
  .AccountButton,
  .CartButton {
    margin-right: 5px;
  }

  .NavbarButtonsContainerMobile {
    display: none;
  }

  .BrandAreaMobile {
    justify-content: center;
  }
}
