.peopleViewedContainer {
  width: 100%;
  margin: 50px 0;
  flex-shrink: 0;
  font-size: 24px;
}

.titleBar {
  font-size: 1em;
  font-weight: 700;
}

.productList {
  display: flex;
  width: 100%;
  margin: 25px 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: max-content;
  overflow: hidden;
  flex-grow: 0;
}

.dummyProduct {
  visibility: hidden;
}

.noDraw {
  display: none;
}
