.detailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 9%;
  font-size: 16px;
}

.detailsTitle {
  text-align: center;
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 10px;
}

.fullRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
  gap: 50px;
}

.reverseRow {
  flex-direction: row-reverse;
}

.detailsContainer > p {
  font-size: 1.1em;
}

.sellerPriceArea {
  color: #979797;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sellerShippingArea {
  color: #979797;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sellerPriceLabel {
  color: #979797;
  font-size: 1.2em;
  font-weight: 700;
}

.sellerShippingDate {
  color: #979797;
  font-size: 1.2em;
  font-weight: 700;
}

.worseOption {
  color: rgb(250, 129, 129);
  font-weight: 600;
}

.betterOption {
  color: #6fb763;
  font-weight: 600;
}

.sellerAddtoCart {
  height: 45px;
}

.sellerAddToCartArea {
  align-self: center;
}

.column {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detailsImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.columnTitle {
  font-size: 2em;
  font-weight: 700;
}

.reviewImg {
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  object-fit: cover;
}

.largeScore {
  font-weight: 800;
  font-size: 70px;
}

.RatingContainer {
  display: flex;
  width: 100%;
  gap: 30px;
  font-size: 20px;
}

.barRow > b {
  font-weight: 800;
}

.ratingTitle {
  font-weight: 500;
}

.ratingArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  gap: 5px;
}

.barRow {
  display: flex;
  align-items: center;
  gap: 5px;
}

.starSmall {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}

.barBackground {
  background-color: #d9d9d9;
  flex-grow: 1;
  height: 10px;
  position: relative;
}

.barFill {
  background-color: #ffa888;
  width: 90%;
  height: 100%;
}

.starSmall {
  display: inline;
}

.reviewCount {
  color: #979797;
  text-decoration: underline;
}

.customerReviewsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 30px 0;
}

.allSellersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-size: 16px;
}

.commentContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  border: 1px solid #c6c6c6;
  padding: 20px 20px;
}

.sellerContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #c6c6c6;
  padding: 5px;
}

.sellerContainerInner {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 20px 20px;
}

.sellerDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sellerInfo {
  display: flex;
  gap: 20px;
  color: #979797;
  font-size: 1em;
  font-weight: 700;
}

.sellerStars > svg {
  height: 20px;
  width: 20px;
}

.sellerRating {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sellerReviews {
  font-size: 0.75em;
  font-weight: 700;
}

.customerInfo {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #6f6f6f;
  flex-shrink: 0;
}

.profileCircle {
  background-color: #d9d9d9;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.customerName {
  font-size: 20px;
  font-weight: 600;
}

.commentArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purchaseDetails {
  font-weight: 700;
  color: #7d7d7d;
}

.termsContainer {
  color: #434343;
}

.termsContainer > h2 {
  margin: 0;
}

.termsContainer > p {
  margin: 0;
}

.sellerAddToCartAreaMobile {
  display: none;
}

@media screen and (max-width: 1500px) {
  .allSellersContainer {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .storeIcon {
    width: 70px;
    height: 70px;
  }
  .fullRow {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  .reverseRow {
    flex-direction: column;
  }
  .detailsContainer {
    padding: 25px 5%;
  }
  .allSellersContainer {
    font-size: 16px;
  }
  .sellerAddToCartArea {
    display: none;
  }
  .sellerAddToCartAreaMobile {
    display: flex;
    align-self: center;
    width: 100%;
  }
  .sellerContainerInner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sellerAddToCartAreaMobile > .sellerAddtoCart {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .storeIcon {
    width: 60px;
    height: 60px;
  }
  .allSellersContainer {
    font-size: 13px;
  }
  .RatingContainer {
    flex-direction: column;
    align-items: center;
  }
  .reviewImg {
    width: 100%;
    height: auto;
  }
  .ratingArea {
    min-width: 100%;
  }
  .largeScore {
    font-size: 100px;
  }
  .starRatings > svg {
    height: 30px;
    width: 30px;
  }
  .reviewCount {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 700px) {
  .commentContainer {
    flex-direction: column;
  }
  .sellerContainer {
    flex-direction: column;
  }
  .customerInfo {
    align-items: flex-start;
  }
  .commentText {
    text-align: start;
  }
  .allSellersContainer {
    font-size: 13px;
  }
  .sellerInfo {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .commentContainer {
    flex-direction: column;
  }
  .sellerContainer {
    flex-direction: column;
  }
  .customerInfo {
    align-items: flex-start;
  }
  .commentText {
    text-align: start;
  }
  .sellerContainerInner {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px 5px;
  }
  .sellerInfo {
    flex-direction: column;
    align-items: center;
  }
}
