
.lazyPlaceHolder {
  width: 180px;
  height: 180px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  animation: loading-animation 1s linear infinite alternate;
  margin:5px;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(195, 5%, 85%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.titleSkeleton { width: 250px; height: 50px; margin-bottom:50px;}

.ProductListContainer {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.ProductListWrapper {
  width: calc(100% - 280px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sortSlicer {
  align-self: flex-end;
}

@media screen and (max-width: 1200px) {
  .ProductListWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .ProductListContainer {
    justify-content: space-around;
  }
}

