.SearchBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 29px;
  width: 40%;
  margin: 0 20px;
}

.SearchBoxContainer.loading > input.SearchInput {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  animation: loading-animation 1s linear infinite alternate;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(195, 5%, 85%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 25px;
  height: 25px;
  animation: spin-animation 2s linear infinite;
  fill: rgb(112, 112, 112);
  position: absolute;
  left: 10px;
  width: 18px;
  height: 18px;
}

input.SearchInput {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
}

.magnifierIcon {
  position: absolute;
  left: 5px;
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 1200px) {
  .SearchBoxContainer {
    width: 100%;
    margin: 15px 0 0 0;
  }
}
