.welcomerContainer {
  width: 100%;
  height: auto;
  display: flex;
  transition: all 0.6s ease;
  background-position: top;
  background-size: contain;
  padding-top: 25px;
}

.leftContainer {
  width: 25%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.rightContainer {
  width: 25%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.arrowContainer {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.6s ease;
  box-shadow: rgba(26, 26, 43, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.arrowIcon {
  width: 50%;
  height: 50%;
  fill: white;
  margin-right: 2px;
}

.arrowIcon.rightArrow {
  transform: rotate(180deg);
  margin-left: 4px;
}

.middleContainer {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.topImage,
.bottomImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
  transition: opacity 0.6s ease;
  opacity: 0;
  top: 0;
  left: 0;
}

.topImage {
  z-index: 2;
  position: absolute;
}

.bottomImage {
  z-index: 1;
}

.topImage.isVisible,
.bottomImage.isVisible {
  opacity: 1;
}

.imageSkeleton {
  width: 100%;
  height: 20vw;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  animation: loading-animation 1s linear infinite alternate;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(195, 5%, 85%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media screen and (max-width: 1200px) {
  .leftContainer {
    width: 20%;
  }
  .middleContainer {
    width: 60%;
  }
  .rightContainer {
    width: 20%;
  }
  .imageSkeleton {
    height: 25vw;
  }
}

@media screen and (max-width: 750px) {
  .leftContainer {
    width: 15%;
  }
  .middleContainer {
    width: 70%;
    border-radius: 10px;
  }
  .rightContainer {
    width: 15%;
  }
  .imageSkeleton {
    height: 30vw;
  }
}

@media screen and (max-width: 400px) {
  .leftContainer {
    width: 12.5%;
  }
  .middleContainer {
    width: 75%;
  }
  .rightContainer {
    width: 12.5%;
  }
}
