.WishlistContainer {
  min-height: 50vh;
  width: 100%;
  padding: 30px 5%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 16px;
  cursor: pointer;
  gap: 20px;
}

.AccountNavbar {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}

.AccountNavbarSkeleton {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 15%;
  flex-shrink: 0;
  background-color: white;
}

.ContentAreaSkeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  animation: loading-animation 1s linear infinite alternate;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(195, 5%, 85%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.NavLink {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.orderContainer {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  overflow: hidden;
  gap: 20px;
}

.NavLink.active {
  color: #ff7440;
  font-weight: 600;
}

.NavLink.active > .ShippingIcon {
  fill: #ff7440;
}

.NavLink.active > .HeartIcon {
  stroke: #ff7440;
}

.ContentArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemArea {
  display: flex;
  flex-wrap: wrap;
}

.ContentArea > h2 {
  margin: 0 0 20px 0;
}

.orderImg {
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
}

.productInfo {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  color: #747474;
  gap: 5px;
  white-space: 0;
}

.productRow {
  display: flex;
  gap: 5px;
}

.orderNumber {
  font-weight: 700;
  color: #ff7440;
}

.productRow > b {
  color: black;
}

.orderDate {
  display: flex;
  flex-direction: row;
  white-space: 0;
}

@media screen and (max-width: 1200px) {
  .WishlistContainer {
    flex-direction: column;
  }
  .AccountNavbar {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .productRow {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .WishlistContainer {
    font-size: 12px;
  }
  .orderContainer {
    padding: 10px;
  }
  .orderImg {
    width: 80px;
    height: 100px;
  }
}

@media screen and (max-width: 300px) {
  .orderContainer {
    flex-direction: column;
  }
  .orderContainer {
    padding: 10px;
  }
  .orderImg {
    width: 100%;
    height: 160px;
  }
}
